* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

#list {
  display: flex;
  flex-wrap: wrap;

  .listBox {
    .listMyDiv {
        border: 2px solid black;
        background-color: gray;
        margin-bottom: 25px;
        border-radius: 15px;
      img {
        width: 100%;
        height: auto;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
      h5,
      p {
        text-align: center;
        margin-top: 10px;
      }
      button {
        padding: 10px;
        border: none;
        background-color: red;
        color: white;
        margin-bottom: 25px;
        border-radius: 16px;
        border: 2px solid red;
        margin-left: 20px;

        &:hover {
          background-color: transparent;
          color: black;
          border: 2px solid red;
        }
      }
    }
  }
}

